.login {
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 25px;
}

.new_to_amazon_block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.new_to_amazon {
    text-align: center;
    color: #767676;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 0.1em;
    border-bottom: 1px solid #767676;
    width: 100%;
}

.new_to_amazon > small {
    background: #ffffff;
    padding: 0 10px;
}

.terms_conditions {
    padding-left: 5px;
    padding-right: 5px;
}

.logo {
    padding-left: 25px;
    padding-right: 25px
}

.btn-light {
    color: black;
    border-color: black;
    background: rgb(245,247,249);
    background: linear-gradient(180deg, rgba(245,247,249,1) 0%, rgba(219,222,227,1) 100%);
}

.btn-light:hover {
    background: rgb(228,230,232);
    background: linear-gradient(180deg, rgba(228,230,232,1) 0%, rgba(206,209,212,1) 100%);
}

.btn:hover {
    border-color: black;
}

.btn-warning {
    border-color: black;
    background: rgb(238,188,64);
    background: linear-gradient(360deg, rgba(238,188,64,1) 0%, rgba(249,231,189,1) 100%);
}

.btn-warning:hover {
    background: rgb(245,216,150);
    background: linear-gradient(180deg, rgba(245,216,150,1) 0%, rgba(237,190,75,1) 100%);
}

input[type=text]:focus{
    border-radius: 5px;
    box-shadow: 0 0 0 2px orange;
  }